{{#if view.job.log.isLoaded}}
  {{! this #with + #if is needed because I want to rerender 'pre' when log changes to properly clean it up,
      this should probably be refactored to use container view}}
  {{#with view.job.log}}
    {{view Travis.LogPreView jobBinding="view.job"}}
  {{/with}}

  {{#if view.job.sponsor.name}}
    <p class="sponsor">
      {{t builds.messages.sponsored_by}}
      <a {{bindAttr href="sponsor.url"}}>{{view.job.sponsor.name}}</a>
    </p>
  {{/if}}
  <a href='#' class="to-top" {{action toTop target="view"}}>To top</a>

{{else}}
  <div id="log" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
