{{#if view.job.log.isLoaded}}
  {{view Travis.LogPreView logBinding="view.job.log"}}

  {{#if view.job.sponsor.name}}
    <p class="sponsor">
      {{t builds.messages.sponsored_by}}
      <a {{bindAttr href="sponsor.url"}}>{{view.job.sponsor.name}}</a>
    </p>
  {{/if}}
  <a href='#' class="to-top" {{action toTop target="view"}}>To top</a>

{{else}}
  <div id="log" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
